@import url('https://fonts.googleapis.com/css2?family=Amarna:ital,wght@0,100..700;1,100..700&family=Figtree:ital,wght@0,300..900;1,300..900&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

/* --- BASE STYLES --- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: #e7e7e7;
    --text-color: #111111;
    --accent-color: #4f9664;
    --sub-text: #3d3d3d;
}

html, body {
    scrollbar-width: none;
    -ms-overflow-style: none;
    cursor: url('images/dot.svg') 16 16, auto;
}

::-webkit-scrollbar {
    display: none;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Google Sans', sans-serif;
    line-height: 1.1;
    overflow-x: hidden;
}

a {
    color: var(--text-color);
    text-decoration: none;
    transition: color 0.3s ease;
    border-bottom: 1px solid transparent;
    cursor: inherit;
}

a:hover {
    color: var(--accent-color);
    border-bottom: 1px solid var(--accent-color);
    cursor: inherit;
}

/* --- LOADING SCREEN --- */
#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: opacity 0.5s ease-out;
}

.spinner {
    width: 40px;
    height: 40px;
    border: 4px solid #333;
    border-top: 4px solid var(--accent-color);
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

/* --- HERO SECTION --- */
.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    padding: 0 20px;
}

h1, h2 {
    font-family: 'Figtree', sans-serif;
}

h1 {
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 10px;
    --x: 50%;
    --y: 50%;
    background: radial-gradient(
        circle 250px at var(--x) var(--y),
        #4f9664 0%,
        #111111 100%
    );
    
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

h1 .letter {
    display: inline-block;
    transition: transform 0.2s ease-out;
    color: inherit; 
}

h1 .letter:hover {
    transform: translateY(-10px);
}

.links {
    display: flex;
    gap: 20px;
    font-size: 2rem;
}

.links a {
    color: #000000;
    transition: all 0.3s ease;
    border: none;
    cursor: inherit;
    padding: 15px; 
    display: inline-block;
}

.links a:hover {
    color: var(--accent-color);
    transform: translateY(-3px);
}

/* --- ANIMATIONS --- */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes shimmer {
    to {
        background-position: -200% center;
    }
}

/* --- MOBILE TWEAKS --- */
@media (max-width: 600px) {
    h1 { font-size: 2.2rem; }
    h2 { font-size: 1rem; }
    .links { flex-direction: column; gap: 15px; }
}