@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@custom-variant dark (&:is(.dark *));

body {
  font-family: var(--font-figtree), sans-serif;
}

.prose p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  animation: marquee 40s linear infinite;
}
