@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@custom-variant dark (&:is(.dark *));

body {
  font-family: var(--font-figtree), sans-serif;
}

.prose p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
